.sideBar {
  display: flex;
  flex-direction: column;
  gap: 1.75vh;
  list-style-type: none;
  position: fixed;
  right: 0;
  bottom: 11vh;

  button {
    cursor: pointer;
    background-color: black;
    color: rgb(57, 34, 160);
    border: none;
    font-size: 20px;
    transition: sclale 1s;

    &:hover {
      background-color: darkblue;
      box-shadow: 0 0 20px 10px darkblue; /* Create a circular spotlight effect */
      scale: 1.5;
    }
  }
}
