/* Carousel.css */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* src/MovieCarousel.scss */
.movie-carousel {
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 50px;
  z-index: 2;
  color: red;
}

.next {
  right: -2rem;
}

.prev {
  left: -2rem;
}
