@keyframes highlight {
  0%,
  100% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    transform: scale(1.5);
  }
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    font-size: 2rem;
    margin-top: 25px;
    font-family: "Oswald", sans-serif;
    text-align: center;
    color: #22b9d5;
  }

  .teeth-loading {
    width: 75px;
    opacity: 0;
    animation: highlight 1.5s infinite;
  }
}
