#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.scalingButton {
  cursor: pointer;
  background-color: black;
  color: rgb(57, 34, 160);
  border: none;
  font-size: 20px;
  transition: sclale 1s;

  &:hover {
    background-color: darkblue;
    box-shadow: 0 0 10px 5px darkblue; /* Create a circular spotlight effect */
    scale: 1.1;
  }
}