.movie-card {
  padding: 1rem;
  .movie-card-inner {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      z-index: 1;
      scale: 1.01;
    }

    .poster {
      position: relative;
      width: 100%;
      background-color: #121212;
      transition: 0.3s;
      cursor: pointer;

      &:hover img {
        filter: brightness(1);
      }
      img {
        width: 100%;
        filter: brightness(0.8);
      }
    }

    .ribbon-btn {
      cursor: pointer;
      font-size: xx-large;
      position: absolute;
      border: none;
      background-color: rgba(0, 0, 0, 0.603);
      color: white;
      transition: 0.3s;
      z-index: 1;
      &:hover {
        background-color: rgba(153, 153, 153, 0.753);
      }
      &:active {
        background-color: yellow;
        color: black;
      }
    }

    .poster-footer {
      background-color: #121212;
      height: 100px;
      width: 100%;
      border-radius: 0 0 10px 10px;

      div {
        margin: 5px;
      }
    }
  }
}
