.movie-card {
  width: 100%;
  img {
    width: 100%;
  }
}

.poster {
  position: relative;
  transition: 0.3s;
  cursor: pointer;
  filter: brightness(0.8);
  &:hover {
    z-index: 1;
    filter: brightness(1);
    scale: 1.01;
  }
}

.ribbon-btn {
  cursor: pointer;
  font-size: xx-large;
  position: absolute;
  border: none;
  background-color: rgba(0, 0, 0, 0.603);
  color: white;
  transition: 0.3s;
  z-index: 1;
  &:hover {
    background-color: rgba(153, 153, 153, 0.753);
  }
  &:active {
    background-color: yellow;
    color: black;
  }
}
