.movie-card {
  width: 15rem;
  margin: 2rem;
  img {
    width: 100%;
  }
}

.poster {
  position: relative;
  transition: 0.3s;
}

.ribbon-btn {
  font-size: xx-large;
  position: absolute;
  border: none;
  background-color: rgba(255, 255, 255, 0.247);
  color: white;
  transition: 0.3s;
  z-index: 1;
  &:hover {
    background-color: rgba(255, 255, 255, 0.438);
  }
  &:active {
    background-color: yellow;
    color: black;
  }
}

.poster:hover {
  z-index: 0;
  filter: brightness(0.9);
}